name: docker-tests
on: 
  push:
    branches:
      - eemil_dev
jobs:
  all_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Remove old DB data
        run: rm -rf database/psql_data

      - name: Build containers
        run: docker compose -f compose.dev.yml build

      - name: Run stack & tests (fail on test failure)
        run: docker compose -f compose.dev.yml up --exit-code-from robot-tests