name: docker-tests
on: 
  push:
    branches:
      - eemil_dev
jobs:
  all_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Remove orphans
        run: docker compose down --remove-orphans

      - name: Remove old DB data
        run: rm -rf database/psql_data

      - name: Build containers
        run: docker compose -f compose.dev.yml up -d --build --exit-code-from frontend-dev backend-dev database-dev database-migration-dev robot-tests

      - name: Test results in form of logs
        run: docker logs -f software_testing-robot-tests-1